fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
google-generativeai
langchain
langchain-google-genai
langchain-huggingface
langchain-community
langchain-text-splitters
chromadb
sentence-transformers
torch
python-multipart
pymupdf
python-docx
pandas
numpy
tabulate
beautifulsoup4
pytest
requests
aiohttp
websockets
pytest-asyncio
httpx
pytest-httpx
bs4